//food.html
.foodList{
  padding: 10px;
  li{
    margin-bottom: 10px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    img{
      width: 100%;
    }
    .title{
      position: absolute;
      right: 0;
      bottom: 15%;
      width: 34%;
      height: 36px;
      line-height: 36px;
      text-align: center;
      background: rgba(255,255,255,0.8);
      border-top-left-radius: 18px;
      border-bottom-left-radius: 18px;
      padding-right: 20px;
      .arrow{
        top: 2px;
        right: 10%;
        position: absolute;
        i{
          font-size: 16px;
          color: #717171;
          &:nth-child(2){
            color: #bdbdbd;
          }
        }
      }
    }
  }
}

//foodChild.html
.foodChildList{
  padding: 10px;
  li{
    margin-bottom: 10px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    img{
      width: 100%;
    }
    .title{
      position: absolute;
      left: 0;
      top: 0;
      width: 34%;
      height: 100%;
      color: #fff;
      background-image: -webkit-linear-gradient(180deg, transparent 0%, black 140%);
      i{
        float: left;
        clear: both;
        margin: 8% 0 0 0%;
        text-align: center;
        img{
          max-width: 50%;
          max-height: 50%;
        }
      }
      span{
        line-height: 30px;
        float: left;
        margin: 18% 0 0 12%;
      }
    }
  }
}

//foodCont.html
.foodCont{
  padding: 10px;
  color: #000;
  .name{
    font-size: 18px;
    line-height: 30px;
    img{
      width: 34px;
      margin: 3px 5px 0 0;
      float: left;
    }
  }
  .content{
    padding: 8px 0;
    font-size: 15px;
    img{
      max-width: 100%;
    }
  }
}

